#about-page {
    background: #fff;
    min-height: 100vh;
}

#about-page .container {
    max-width: 1000px;
}

#about-page #header-section {
    background: url('../../img/about/about-page-bg.png') no-repeat center
        center/cover;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

#about-page #header-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

#about-page #header-section > * {
    z-index: 10;
}

#about-page img {
    max-width: 100%;
    margin-bottom: 25px;
}

#about-page img:last-of-type {
    margin-bottom: 80px;
}
