#home-page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88vh;
}

#home-page p {
    font-size: 18px;
    text-align: left;
}

#home-page .home-content {
    padding-right: 60px;
}

#home-page .wrap-buttons {
    display: block;
    margin-top: 60px;
}

#home-page .wrap-buttons a.btn {
    margin-right: 20px;
}
