#reciever-file-success {
    margin-top: 80px;
}

#reciever-file-success .container {
    max-width: 700px;
}

#reciever-file-success .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

#reciever-file-success .field:last-of-type {
    margin-bottom: 60px;
}

#reciever-file-success .field p {
    font-size: 18px;
    margin-bottom: 14px;
}
