#reciever-file-success {
    margin-top: 80px;
}

#reciever-file-success h2 {
    font-size: 42px;
}

#reciever-file-success .field {
    padding: 15px 10px;
}

#reciever-file-success .field p {
    font-size: 18px;
    margin-bottom: 14px;
}
