#send-files-page {
    min-height: 88vh;
    padding: 80px 0;
}

#send-files-page #upload-btn {
    display: block;
    width: fit-content;
    margin-top: 25px;
}

#send-files-page form label#files-label {
    padding: 24px;
    width: 100%;
    max-width: 900px;
    height: 200px;
    display: inline-block;
    border: 2px dashed var(--primary-color);
    font-size: 18px;
}

#send-files-page p {
    margin: 20px 0 24px;
    font-size: 18px;
}

input#files {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#files-label {
    position: relative;
}

.files-list {
    margin-top: 30px;
}

.files-list ul {
    list-style: none;
    max-width: 900px;
    position: relative;
}

.files-list ul li {
    display: inline;
    padding-right: 45px;
    font-size: 15px;
    color: var(--primary-color);
}

#send-files-page #next-page-btn {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 37px;
}
