#send-file-sucess-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    text-align: center;
    color: var(--dark-color);
}

h1#code {
    font-size: 50px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
    #send-file-sucess-page .heading {
        text-align: center;
    }

    h1#code {
        font-size: 30px;
    }
}
