:root {
    --primary-color: #1f2c73;
    --secondary-color: #fc5185;
    --background-color: #ecf5ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}
